.contenedor-modal2 {
    position: absolute;
    width: 92%;
    height: 36em;
    background-color: rgba(56, 56, 56, 0.8);
    margin: 2em 0em 0em 1em;
}

.modal-difuminado2 {
    display: flex;
    flex-direction: column;
}


.parrafo-home {
    text-align: center;
    padding: 0em 1em;
    font-family: monospace;
    font-size: 15px;
    color: #fff;
}

.redes-contacto {
    display: flex;
    justify-content: space-evenly;
}

.contacto-git {
    background-color: #fff;
    border-radius: 12px;
    width: 90px;
    height: 45px;
    padding: 0px 10px;
}

.h2-contacto {

    color: #fff;

    font-family: monospace;

    font-size: 16px;

    text-align: center;
}

.contacto-celular {

    display: flex;

    justify-content: space-around;
}

.formulario-contacto {
    color: #fff;

    font-family: monospace;

    font-size: 16px;

    text-align: center;

    

    background-color: rgba(4, 4, 17, 0.733);

    padding-bottom: 1em;
}

.h2-contacto-form {
    color: #fff;

    font-family: monospace;

    font-size: 16px;

    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {

    margin-left: 2.5em;

    border-radius: 7px;

    width: 23em;

    height: 1.5em;
}

textarea {
    margin-left: 2.5em;
    border-radius: 7px;
    width: 23em;
    height: 4em;
}

button {
    margin: 1em 0 0 11em;
    border-radius: 7px;
    width: 6em;
    height: 2em;
}

.bgAnimation {
    height: 102vh;
}


@media (min-width: 480px) {


    .contenedor-modal2 {
        position: absolute;
        width: 95%;
        height: 50em;
        background-color: rgba(56, 56, 56, 0.8);
        margin: 6em 0 0 0.6em;
    }

    .modal-difuminado2 {}

    .modal-difuminado2 p {}

    .redes-contacto {}

    .contacto-git {}

    .modal-difuminado2 h2 {}

    .contacto-celular {}

    .formulario-contacto {}

    .formulario-contacto h2 {}

    form {}

    input {}

    textarea {}

    button {}

    .bgAnimation {}

}