.contenedor-modal2 {
    position: absolute;
    width: 92%;
    height: 36em;
    background-color: rgba(56, 56, 56, 0.8);
    margin: 2em 0em 0em 1em;
}

.modal-difuminado2 {
    display: flex;
    flex-direction: column;
}


.parrafo-home {
    text-align: center;
    padding: 0em 1em;
    font-family: monospace;
    font-size: 15px;
    color: #fff;
}

.redes-contacto {
    display: flex;
    justify-content: space-evenly;
}

.contacto-git {
    background-color: #fff;
    border-radius: 12px;
    width: 90px;
    height: 45px;
    padding: 0px 10px;
}

.h2-contacto {

    color: #fff;

    font-family: monospace;

    font-size: 16px;

    text-align: center;
}

.contacto-celular {

    display: flex;

    justify-content: space-around;
}

.formulario-contacto {
    color: #fff;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    padding: 1em;
    background-color: rgba(4, 4, 17, 0.733);
    /* padding-bottom: 1em; */
    margin: 0em 0em;
}

.h2-contacto-form {
    color: #fff;

    font-family: monospace;

    font-size: 15px;

    text-align: center;
}

.formulario-c {
    display: flex;
    flex-direction: column;
    margin: 1em -1em;
}
.formulario-c label {
padding: 2%;
}

.formulario-c input {
margin-left: 2.5em;
border-radius: 7px;
width: 23em;
padding: 1%;
/* height: 1.5em; */
}

.formulario-c textarea {
    margin-left: 2.5em;
    border-radius: 7px;
    width: 23em;
    height: 4em;
    padding: 1%;
}

.enviar {
    margin: 1em 0 0 11em;
    border-radius: 7px;
    width: 6em;
    height: 2em;
}



@media (min-width: 480px) {


    .contenedor-modal2 {
        position: absolute;
        width: 95%;
        height: 41.6em;
        background-color: rgba(56, 56, 56, 0.8);
        /* margin: 6em 0 0 0.6em; */
    }



    .formulario-contacto {display: flex;}

    .formulario-contacto h2 {
    margin: 21px 0 0 3px;
}
}
@media (min-width: 1020px) {
    
    .contenedor-modal2{
        display: flex;
        height: 58vh;
        width: 90%;
    }
    .formulario-contacto {
        display: block;
        height: 54vh;
        width: 100%;
        margin: 0% 0% 0% 0%;
    }
    .modal-difuminado2{
        
width: 112%;
        
justify-content: center;
    }
    .formulario-c{
        align-items: center;
        /* margin: 8% 0% 0% 0%; */
    }
}