header {
    display: flex;
    justify-content: space-evenly;
    z-index: 20;
}


.imagen-logo img {
    max-width: 3em;
    position: relative;
    margin-left: -8em;
    z-index: 20;
}

.menu-hambur i {
    color: #fff;
    position: absolute;
    margin-left: 4.2em;
    font-size: 1.5em;
    margin-top: 0.3em;
    z-index: 20;
}
.menu {
    background-color: rgb(135 255 255 / 32%);
    position: absolute;
    margin: -8px 0px 0px -13em;
    height: 6em;
    width: 18.5em;
    z-index: 50;
    border-radius: 7px 7px 37px 37px;
}
.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
    color: #ffffff;
    padding: 0.2em;
}
.menu-item2{
    display: none;
}
.menu2{
    display: none;
}


@media (min-width: 480px) { 

    .imagen-logo img {
        max-width: 4em;
        position: relative;
        margin-left: -17em;
        z-index: 20;
    }
    .menu-hambur i {
        color: #fff;
        position: absolute;
        margin-left: 5.2em;
        font-size: 2.3em;
        margin-top: 0.3em;
        z-index: 20;
    }
    .menu {
        background-color: rgb(135 255 255 / 32%);
        position: absolute;
        margin: -8px 0px 0px -24em;
        height: 6em;
        width: 30.5em;
        z-index: 50;
        border-radius: 7px 7px 37px 37px;
    }

    @media (min-width: 1080px){

       
        
        
        .imagen-logo img {
            max-width: 5em;
            position: relative;
            margin-left: -30em;
            z-index: 20;
        }
        
        .menu-hambur i {
       display: none;
        }
        .menu2 {
            background-color: rgb(135 255 255 / 32%);
            position: absolute;
            margin: 19px 0px 0px -28.7em;
            height: 3em;
            width: 64em;
            z-index: 50;
            display: flex;
            border-radius: 37px 0px 0px 37px;
            justify-content: space-evenly;
        }
        .menu-item2 {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-family: monospace;
            font-size: 22px;
            color: #ffffff;
            padding: 0.2em;
        }
    }




}