.header {
    display: flex;
    justify-content: space-evenly;
}

.imagen-logo {}

.imagen-logo img {
    max-width: 3em;
    margin-left: -15em;
}

.menu-hambur i {
    color: #fff;
    margin-left: -2em;
    font-size: 1.5em;
    margin-top: 0.3em;
}