header {
    display: flex;
    justify-content: space-evenly;
    z-index: 20;
}

.imagen-logo{

}
.imagen-logo img {
    max-width: 3em;
    position: relative;
    margin-left: -8em;
    z-index: 20;
}

.menu-hambur i {
    color: #fff;
    position: absolute;
    margin-left: 4.2em;
    font-size: 1.5em;
    margin-top: 0.3em;
    z-index: 20;
}
.menu {
    background-color: rgba(43, 12, 136, 0.5);
    position: absolute;
    margin: 6px 0px 0px -13em;
    height: 6em;
    width: 18.5em;
    z-index: 50;
    border-radius: 7px 7px 37px 37px;
}
.menu-item {
    text-align: center;
    padding: 1% 0em;
    font-family: monospace;
    font-size: 15px;
    color: #ffffff;
}