.contenedor-modal4 {
    position: absolute;
    width: 92%;
    height: 36em;
    background-color: rgba(56, 56, 56, 0.8);
    margin: 2em 0em 0em 1em;
}

.modal-difuminado4 {
    display: flex;
    flex-direction: column;
}

.h2-proyectos {
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
    color: #fff;
}

.cards-proyect {
    width: 98%;
    background-color: rgba(0, 255, 255, 0.3);
    height: 8em;
    border-radius: 0px 26px 27px 0px;
    display: flex;
}

.cards-proyect img {
    height: 7em;
    width: 14em;
    padding: 0.5em;
}

.cards-proyect h2 {
    font-family: monospace;
    color: #fff;
    text-decoration: underline;
}

.cards-proyect p {
    text-align: center;
}
.botones-cards {
    display: flex;
    justify-content: flex-end;
}
.botones-cards button {
    margin: 0.8em 0.8em 0px 0.5em;
    background-color:rgba(36, 93, 93, 0.5);
    color: #fff;
    padding: 1px;
}